@import "../../vars.css";

.container {
	margin-top: 100px;
	background: var(--color-secondary);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 80px;
	gap: 100px;
}

.text {
	color: var(--color-text);
}

.title {
	font-size: 80px;
	font-weight: 700;
}

.message {
	font-size: 40px;
	font-weight: 400;
}

.contactInfo {
	color: var(--color-text);
}

.contactItems {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.contactItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.contactItemText {
	font-size: 30px;
	font-weight: 400;
}

.link {
	text-decoration: none;
	color: var(--color-text);
}

@media screen and (max-width: 830px) {
	.title {
		text-align: center;
	}

	.message {
		text-align: center;
	}

	.container {
		padding: 30px;
		gap: 40px;
	}
}